.picturetext-container {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    /* box-sizing: border-box; */
}

.picture {
    width: 50%;
    height: auto;
}

.title{
    font-size: xxx-large;
    margin: 6rem 0 1rem 5rem;

}

.text {
    width: 50%;
    height: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-left: 5rem;
}
.button {
    margin-top: 3rem;
    width: 200px;
    height: 50px;
    background-color: #a5a58d;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5rem;
    color:white
}