.picturetext-container {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;

    @include respond-below(md) {
        flex-direction: column;
    }

    .text-container {
        width: 50%;
        padding: 5rem;

        @include respond-below(md) {
            width: 100%;
            padding: 0 2vw;
        }

        .title {
            font-size: xxx-large;
            margin: 6rem 0 1rem 0;

            @include respond-below(md) {
                margin: 2rem 0 1rem 0;
            }
        }

        .text {
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
        }

        .button {
            margin-top: 3rem;
            width: 200px;
            height: 50px;
            background-color: #a5a58d;
            font-size: 20px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            border-radius: 25px;
            color: white;
        }
    }

    .picture {
        width: 50%;
        height: auto;
        object-fit: cover;

        @include respond-below(md) {
            width: 100%;

            // Picture always on top on mobile
            order: -1;
        }
    }
}