---
import Title from "~components/Title.astro";
import LinkButton from "~components/LinkButton.astro";
---

<div id="about-me-anchor" class="about-me">
    <div class="photo">
        <div class="square"></div>
        <img src="ich.JPG" />
    </div>
    <div class="text">
        <Title title="Über mich" />
        <p class="introduction">
            Hi! ich bin Violetta, 25 Jahre alt und frisch in Karlsruhe eingezogen. Im August 2023 habe ich mein Studium als Medieninformatikerin erfolgreich abgeschlossen. Mich faszinieren neue Technologien und kreatives Design. Auf meiner Webseite möchte ich meine verschiedenen Projekte teilen und
            mich über meine Erfahrungen und Ideen austauschen.
        </p>

        <LinkButton href="mailto:violetta.pyralov@gmail.com" text="Let's keep in touch" />
    </div>
</div>

<style lang="scss">
    .about-me {
        margin-top: 3rem;
        margin-bottom: 7rem;
        display: flex;
        flex-direction: row;
        // justify-content: center;

        @include respond-above(lg) {
            margin-left: 10vw;
        }

        @include respond-below(lg) {
            flex-direction: column;
        }

        .photo {
            position: relative;

            .square {
                position: absolute;
                top: -40%;
                right: 70px;
                height: 150%;
                background-color: #ddbea9;
                z-index: -1;
                width: 110vw;

                @include respond-below(lg) {
                    left: -70px;
                    width: 70vw;
                }
            }

            img {
                width: 70vw;
                height: auto;

                @include respond-above(lg) {
                    width: 30vw;
                }
            }
        }

        .text {
            margin: 1rem 2vw;

            @include respond-above(lg) {
                margin: 4rem 5vw 0 10vw;
            }

            .introduction {
                margin-top: 2rem;
                font-size: x-large;
                line-height: 30px;
            }

            .button {
                margin-top: 3rem;
                width: fit-content;
                padding: 0 1rem;
                height: 50px;
                background-color: #a5a58d;
                font-size: larger;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                border-radius: 25px;
            }

            .button a {
                color: white;
                text-decoration: none;
            }
        }
    }
</style>
