---
import SingleFlipCard from "../SingleFlipCard.astro";
import Title from "../Title.astro";
---

<div id="education-path-anchor" class="education-path">
    <Title title="Bildungsweg" />

    <div class="cards-group">
        <SingleFlipCard title="Praktikum / Werk­studenten­job" dateRange="03.2021 - 12.2023" subtitle="Praktikum beu teufels; im Anschluss Werk­studentin" icon="school.svg">
            <h2>Tätigkeiten</h2>
            <div class="description-item-container">
                <p>Umsetzung dynamischer Web&shy;projekte mit Typo3</p>
                <p>Verantwortung für die Entwicklung des Prakti-Projekts</p>
                <p>Content&shy;pflege in Typo3 und Shopware</p>
                <p>Internet&shy;recherche (Webseiten Testing)</p>
            </div>
        </SingleFlipCard>
        <SingleFlipCard title="Medien­infor­matik B.Sc." dateRange="10.2019 - 08.2023" subtitle="Studium an der Hoch­schule Furtwangen" icon="school.svg">
            <h2>Wahlpflichtfächer</h2>
            <div class="description-item-container">
                <p>Interface Design</p>
                <p>Zeichnen 1</p>
                <p>Digital Asset Creation</p>
                <p>Englisch B2.1</p>
                <p>UX Research</p>
                <p>Web Analytics</p>
                <p>Prototyping interaktiver Medien - Apps und Games</p>
                <p>Visual Novel</p>
            </div>
        </SingleFlipCard>
        <SingleFlipCard title="Wirtschafts­oberstufe" dateRange="09.2017 - 08.2019" subtitle="Allgemeine Hochschul­reife am Beruflichen­schulzentrum Waldkirch" icon="school.svg">
            <h2>Prüfungsfächer</h2>
            <div class="description-item-container">
                <p>Mathematik</p>
                <p>Deutsch</p>
                <p>Englisch</p>
                <p>BWL/VWL</p>
            </div>
        </SingleFlipCard>
    </div>
</div>

<style lang="scss">
    .description-item-container {
        p {
            margin-bottom: 0;
            font-size: 1.2rem;
        }
    }
    .cards-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 5rem;

        @include respond-below(md) {
            flex-direction: column;
        }

        @include respond-above(lg) {
            width: 70%;
            margin: 0 auto;
        }
    }

    .education-path {
        width: 100%;
        margin-bottom: 7rem;
    }
</style>
