---
import SingleFlipCard from "../SingleFlipCard.astro";
import Title from "../Title.astro";
---

<div id="education-path-anchor" class="education-path">
    <Title title="Bildungsweg"/>

    <div class="cards-group">
        <SingleFlipCard title="Medieninformatik BSc." dateRange="10.2019 - 08.2023" subtitle="Studium an der Hochschule Furtwangen" icon="school.svg">
            <h2>Wahlpflichtfächer</h2>
            <p class="secondInfo">back</p>
        </SingleFlipCard>

        <SingleFlipCard title="Medieninformatik BSc." dateRange="10.2019 - 08.2023" subtitle="Studium an der Hochschule Furtwangen" icon="school.svg">
            <h2>Wahlpflichtfächer</h2>
            <p class="secondInfo">back</p>
        </SingleFlipCard>
    </div>
</div>

<style lang="scss">
    @import "~styles/mixins/_media-queries.scss";

    .cards-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 40px;

        @include respond-below(sm) {
            flex-direction: column;
        }
    }

    .education-path {
        margin-top: 16rem;
    }
</style>
