---
import Title from "~components/Title.astro";
import PictureText from "~components/PictureText.astro";
---

<div id="projects-anchor" class="projects">
    <Title title="Projekte" indented={true} />
    <PictureText
        picture="WebseiteCover.png"
        title="Meine eigene Webseite"
        text="Für meine eigene Webseite war es mir besonders wichtig, eine Plattform zu schaffen, die nicht nur ästhetisch ansprechend, sondern auch intuitiv navigierbar ist. Um dieses Ziel zu erreichen, erstellte ich eine Figma-Datei, welche ich als Grundlage für meine Webseite nutzte. Zusätzlich nutze ich Astro als Framework. "
        buttontext="Zur PDF"
        href="/Webseite.pdf"
    />
    
    <PictureText
    picture="TroeschCover.png"
    title="Webseite für Haustechnik Trösch & Schopp GmbH"
    text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
    buttontext="Zur PDF"
    pictureFirst={false}
    />

    <PictureText
        picture="PortfolioCover.png"
        title="Portfolio Interface Design"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        buttontext="Zur PDF"
        href="/PortfolioInterfaceDesign.pdf"
    />
    <PictureText
        picture="SebinetCover.png"
        title="Webseiten Design für Sebinet"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        pictureFirst={false}
        buttontext="Zur PDF"
        href="/SebbisWebseite.pdf"
    />

</div>

<style lang="scss">
    .projects {
        @include respond-below(lg) {
            flex-direction: column;
        }
    }
</style>
