---
import Title from "~components/Title.astro";
import PictureText from "~components/PictureText.astro";
---

<div id="projects-anchor" class="projects">
    <Title title="Projekte und Zertifikate" indented={true} />
    <PictureText
        picture="WebseiteCover.png"
        title="Meine eigene Webseite"
        text="Für meine eigene Webseite war es mir besonders wichtig, eine Plattform zu schaffen, die nicht nur ästhetisch ansprechend, sondern auch intuitiv navigierbar ist. Um dieses Ziel zu erreichen, erstellte ich eine Figma-Datei, welche ich als Grundlage für meine Webseite nutzte. Zusätzlich nutze ich Astro als Framework. "
        buttontext="Zur PDF"
        href="/Webseite.pdf"
    />
    
    <PictureText
    picture="TroeschCover.png"
    title="Webseite für Haustechnik Trösch & Schopp GmbH"
    text="In diesem Projekt habe ich ein Webdesign für die Firma Haustechnik & Schopp GmbH erstellt. Dieses Projekt gehört zu meinen ersten Website-Designs. Ich entschied mich, das Projekt mit Figma zu realisieren. Ich habe mich bewusst für Figma entschieden, um meine Fähigkeiten zu erweitern und mich mit dem Tool vertraut zu machen."
    buttontext="Zur PDF"
    pictureFirst={false}
    />

    <PictureText
        picture="PortfolioCover.png"
        title="Portfolio Interface Design"
        text="Während des Kurses “Interface Design“ habe ich ein Portfolio über die Übungen erstellt. Durch die Übungen habe ich ein breites Verständnis von Interface Design sowohl für verschiedene Medien als auch für verschiedene Produkte erlangt."
        buttontext="Zur PDF"
        href="/PortfolioInterfaceDesign.pdf"
    />
    <PictureText
        picture="SebinetCover.png"
        title="Webseiten Design für Sebinet"
        text="In diesem Projekt habe ich ein Webdesign für “Sebinet” erstellt. In diesem Projekt habe ich meine Kenntnisse aus dem vorherigen Projekt angewandt und mich mit anderen Stilen auseinandergesetzt. Durch die vielen Angebote von “Sebinet” wollte ich den Nutzern der Website trotzdem ein einheitliches Design und eine gute Übersicht über das Angebot bieten, weshalb ich mich für ein Carousel und weitere Unterseiten für die verschiedenen Angebote entschieden habe."
        pictureFirst={false}
        buttontext="Zur PDF"
        href="/SebbisWebseite.pdf"
    />
    <PictureText
        picture="ZertifikateCover.JPG"
        title="Zertifikate Scrum und Design Thinking"
        text="Während meiner Studienzeit habe ich an zwei verschiedenen Schulungen teilgenommen. Eine Schulung zu “Scrum” in der ich die Basics zur agilen Softwareentwicklung kennenlernte und eine weitere Schulung zu “Design Thinking” in welcher ich die nutzerbasierten Design Thinking Prozesse kennenlernte und das Wissen in einer praktischen Übung festigen konnte."
        buttontext="Zertifikate"
        href="/Zertifikate.pdf"
    />
    <PictureText
        picture="PraktikumszeugnisCover.JPG"
        title="Praktikumszeugnis von teufels"
        text="Während meines Praktikums bei teufels in Rottweil beschäftigte ich mich hauptsächlich mit der Umsetzung von statischen und dynamischen Webprojekten, der Pflege bestehender Kundenseiten durch das Einpflegen von Inhalten mittels CMS und dem Testen von Webseiten."
        pictureFirst={false}
        buttontext="Zur PDF"
        href="/Praktikumszeugnis.pdf"
    />

</div>

<style lang="scss">
    .projects {
        @include respond-below(lg) {
            flex-direction: column;
        }
    }
</style>
