---
import Title from "../Title.astro";
import PictureText from "../PictureText.astro";
import TextPicture from "../TextPicture.astro";
---

<div id="projects-anchor" class="projects">
    <Title title="Projekte" />
    <PictureText
        picture="ich.JPG"
        title="Projekt 1"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        buttontext="hä"
    />

    <TextPicture
        picture="ich.JPG"
        title="Projekt 2"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        buttontext="hä"
    />
</div>

<style lang="scss">
    @import "~styles/mixins/_media-queries.scss";

    .projects {
        @include respond-below(lg) {
            flex-direction: column;
        }
    }
</style>
