---
import Title from "../Title.astro";
import PictureText from "../PictureText.astro";
import TextPicture from "../TextPicture.astro";
---

<div id="projects-anchor" class="projects">
    <Title title="Projekte" />
    <PictureText
        picture="ich.JPG"
        title="Meine eigene Webseite"
        text="Für meine eigene Webseite war es mir besonders wichtig, eine Plattform zu schaffen, die nicht nur ästhetisch ansprechen, sondern auch intuitiv navigierbar ist. Um dieses Ziel zu erreichen, erstellte ich eine Figma-Datei, welche ich als Gründlage für meine Webseite nutzte. Zusätzlich nutze ich Astro als Framework. "
        buttontext="PDF runterladen"
    />

    <TextPicture
        picture="ich.JPG"
        title="Webseite für Haustechnik Trösch & Schopp GmbH"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        buttontext="Zur Webseite"
    />
    <PictureText
        picture="ich.JPG"
        title="Webseiten Design für Sebinet"
        text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet"
        buttontext="PDF runterladen"
    />
</div>

<style lang="scss">
    .projects {
        @include respond-below(lg) {
            flex-direction: column;
        }
    }
</style>
