---
import Title from "~components/Title.astro";
---

<div id="skills-anchor" class="skills-section">
    <Title title="Skills" color="#fff5ed" indented={true} />
    <div class="skills-card-container">
        <img class="skills-background-image" src="skillsBackground.png" />
        <div class="skill-card">
            <p class="skill-points">HTML 5 und CSS 3</p>
            <p class="skill-points">FIGMA / Adobe XD</p>
            <p class="skill-points">Wireframing</p>
            <p class="skill-points">Interface&shy;design</p>
            <p class="skill-points">UX Research</p>
            <p class="skill-points">Web Analytics</p>
            <p class="skill-points">Typo3/Shopware/Pimcore</p>
            <p class="skill-points">Google Analytics 4</p>
        </div>
    </div>
</div>

<style lang="scss">
    .skill-card {
        padding: 20px;
        background-color: #fff5ed;
        border-radius: 31px;
        max-width: 30vw;
        z-index: 1000;
        box-shadow: 10px 10px 25px rgb(78, 78, 78);

        @include respond-below(md) {
            max-width: 100%;
            margin: 5rem 7vw;
        }
        .skill-points {
            padding: 15px;
            margin: 0 30px;
            font-size: larger;
            text-align: center;
            border-bottom: 3px solid black;
            text-transform: uppercase;
            background: linear-gradient(to right, #ddbea9 50%, #fff5ed 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.5s ease-out;

            &:hover {
                background-position: left;
            }
        }
    }

    .skills-card-container {
        position: relative;
        z-index: 100;

        @include respond-above(md) {
            margin-left: 25vw;
        }
    }

    .skills-section {
        background-color: #ddbea9;
        padding: 50px 0 100px 0;
    }

    .skills-background-image {
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: -10;
        object-fit: cover;

        @include respond-above(md) {
            max-width: 90%;
            max-height: 90%;
        }

        @include respond-below(md) {
            width: 100%;
            left: 0;
            top: -3rem;
        }
    }
</style>
