---
import Title from "../Title.astro";
---

<div id="skills-anchor" class="skills-section">
    <Title title="Skills" color="#fff5ed" />
    <div class="skills-card-container">
        <div class="skill-card">
            <p class="skill-points">HTML 5 und CSS 3</p>
            <p class="skill-points">FIGMA</p>
            <p class="skill-points">Adobe Xd</p>
            <p class="skill-points">Interface&shy;design</p>
            <p class="skill-points">UX Research</p>
            <p class="skill-points">Web Analytics</p>
            <p class="skill-points">Typo3</p>
            <p class="skill-points">Shopware</p>
        </div>
    </div>
</div>

<style lang="scss">
    .skill-card {
        margin: 0 15vw;
        padding: 20px;
        background-color: #fff5ed;
        border-radius: 31px;
        max-width: 40vw;
        @include respond-below(md) {
            max-width: 80vw;
            margin: 0 10vw;
        }
        z-index: 1000;
        box-shadow: 10px 10px 25px rgb(78, 78, 78);
        .skill-points {
            padding: 15px;
            margin: 0 30px;
            font-size: 30px;
            text-align: center;
            border-bottom: 3px solid black;
            text-transform: uppercase;
            background: linear-gradient(to right, #ddbea9 50%, #fff5ed 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.5s ease-out;

            &:hover {
                background-position: left;
            }
        }
    }

    .skills-card-container {
        position: relative;
        z-index: 100;
    }

    .skills-section {
        background-color: #ddbea9;
        padding: 50px 0 100px 0;
    }
</style>
