---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="about-me">
		<div class="about-me-photo">
			<div class="small-square"></div>
			<img src="ich.JPG">
		</div>
    </div>
</Layout>

<style>
    .small-square {
        width: 590px;
        height: 670px;
        background-color: #DDBEA9;
    }

	.about-me-photo {
		/* position: relative; */
	}

	img {
		width: 600px;
		/* height: 767px; */
		position: absolute;
		top: 132px;
		left: 88px;
		}
</style>
