---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="about-me">
        <div class="blue-triangle"></div>
    </div>
</Layout>

<style>
    .blue-triangle {
        width: 500px;
        height: 670px;
        background-color: #DDBEA9;
    }
</style>
