<div class="about-me">
    <div class="about-me-photo">
        <div class="square"></div>
        <img src="ich.JPG" />
    </div>
    <h1>Über mich</h1>
    <div class="small-square"></div>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet
    </p>
    <p class="button">
        <a href="mailto:violetta.pyralov@gmail.com">Let´s keep in touch</a>
    </p>
</div>

<style>
    
	h1{
		position: absolute;
		top: 290px;
		left: 1000px;
		font-size: 20px;
		text-transform: uppercase;
	}

	.small-square{	
		position: absolute;
		top: 318px;
		left: 1000px;
		width: 90px;
		height: 6px;
		background-color: #ddbea9;
	}

    .square {
        width: 700px;
        height: 750px;
        background-color: #ddbea9;
    }

    .about-me-photo {
        /* position: relative; */
    }

    img {
        width: 700px;
        /* height: 767px; */
        position: absolute;
        top: 120px;
        left: 86px;
    }

    p {
        position: absolute;
        top: 350px;
        left: 1000px;
        width: 600px;
        font-size: 20px;
        line-height: 30px;
    }

	.button{
		position: absolute;
		top: 600px;
		left: 1000px;
		width: 200px;
		height: 50px;
		background-color: #A5A58D;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
		border-radius: 25px;
	}

	.button a{
		color: white;
		text-decoration: none;
	}
</style>