---
import SingleFlipCard from "./SingleFlipCard.astro";
---

<div id="education-path-anchor" class="education-path">
    <h1>Bildungsweg</h1>
    <div class="small-square"></div>

    <div class="cards-group">
        <SingleFlipCard title="Medieninformatik BSc." dateRange="10.2019 - 08.2023" subtitle="Studium an der Hochschule Furtwangen" icon="school.svg">
            <h2>Wahlpflichtfächer</h2>
            <p class="secondInfo">back</p>
        </SingleFlipCard>

        <SingleFlipCard title="Medieninformatik BSc." dateRange="10.2019 - 08.2023" subtitle="Studium an der Hochschule Furtwangen" icon="school.svg">
            <h2>Wahlpflichtfächer</h2>
            <p class="secondInfo">back</p>
        </SingleFlipCard>
    </div>
</div>

<style>
    .cards-group {
        display: flex;
        justify-content: center;
        padding: 30px 40px;
    }
</style>
