<!-- Colours
    Background: #fff5ed
    CTA: #A5A58D
    Secondary: #DDBEA9
-->
<nav class="navbar">
    <a href="#about-me-anchor">über mich</a>
    <a href="#education-path-anchor">bildungsweg</a>
    <a href="#skills-anchor">skills</a>
    <a href="#projects-anchor">projekte</a>
</nav>

<style>
    .navbar {
        background-color: #fff5ed;
        display: flex;
        justify-content: center;
        padding: 30px 20px;
        box-shadow: rgb(69, 69, 69) 0px 0px 20px;
        width: 100%;
        z-index: 0;
    }

    .navbar a {
        color: black;
        text-decoration: none;
        padding: 5px 30px;
        text-transform: uppercase;
        font-size: larger;

        text-decoration: none;
        position: relative;
    }

    a::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 4px;
        border-radius: 4px;
        background-color: #DDBEA9;
        bottom: 0;
        left: 10%;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
</style>
