---
const { picture, title, text, buttontext } = Astro.props;
---

<div class="picturetext-container">
    <img class="picture" src={picture} />

    <div class="text-container">
        <h1 class="title">{title}</h1>
        <p class="text">{text}</p>
        <p class="button">{buttontext}</p>
    </div>
</div>

<style lang="scss">
    @import "~styles/textPicture.scss";
</style>
