---
const { title, dateRange, subtitle, icon } = Astro.props;
---

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src={icon} />
            <h1 class="title">{title}</h1>
            <h2>{dateRange}</h2>
            <p class="secondInfo">{subtitle}</p>
        </div>
        <div class="flip-card-back">
            <slot />
        </div>
    </div>
</div>

<style>
    /* Flip Card */
    .flip-card {
        background-color: transparent;
        width: 500px;
        height: 350px;
        perspective: 1000px;
        margin: 0 20px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        /* margin: 0 20px; */
        background-color: #ddbea9;
        border-radius: 31px;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .flip-card-back {
        transform: rotateY(180deg);
    }
    .education-path {
        margin: 150px 86px;
    }
    h1 {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .title {
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .secondInfo {
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
    }

    .small-square {
        margin-top: 8px;
        /* left: 0px; */
        width: 90px;
        height: 6px;
        background-color: #ddbea9;
    }

    /* CARD STYLES */
   
    .card {
        /* position: absolute; */
        /* top: 100px;
    left: 100px; */
        top: 100px;
        width: 500px;
        height: 350px;
        padding: 20px;
        margin: 0 20px;
        background-color: #ddbea9;
        border-radius: 31px;
    }

    .card img {
        width: 14%;
        /* height: 100%; */
        object-fit: cover;
        border-radius: 31px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card h1 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        text-transform: initial;
    }
</style>
