---
const { title, color = "#ddbea9" } = Astro.props;
---

<div class="titleDiv">
    <h2>{title}</h2>
    <div class="small-square"></div>
</div>

<style define:vars={{ color }} lang="scss">
    .small-square {
        width: 90px;
        height: 6px;
        background-color: var(--color);
    }

    h2 {
        font-size: x-large;
        text-transform: uppercase;
    }

    .titleDiv {
        margin: 4rem 0 2rem 0;
    }
</style>
