---
interface Props {
    title: string;
    color?: string;
    indented?: boolean;
}
const { title, color = "#ddbea9", indented = false } = Astro.props;
---

<div class="titleDiv" class:list={[indented && "indented"]}>
    <h2>{title}</h2>
    <div class="small-square"></div>
</div>

<style define:vars={{ color }} lang="scss">
    .small-square {
        width: 90px;
        height: 6px;
        background-color: var(--color);
    }

    h2 {
        font-size: x-large;
        text-transform: uppercase;
    }

    .titleDiv {
        margin: 4rem 0 2rem 0;
    }

    .indented {
        margin-left: 2rem;
    }
</style>
